@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161223;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}

body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.container .card .content{
    padding: 5px 10px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0);
    opacity: 1;
}

.container .card h2{
    position: absolute;
    color: rgba(255,255,255,0.15);
    top:  -80px;
    right: 10px;
    font-size: 8em;
    pointer-events: none;
}

.container .card .content h3{
    color: #fff;
    font-size: 1.8em;
    z-index: 1;
    padding-top: 10px 0;
}

.container .card .content p{
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}

.container .card .content a{
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    text-decoration: none;
    position: relative;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.5);
    font-weight: 500;
}
